<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.linlinjava.litemall.db.dao.I18nMapper">
    <resultMap id="I18nVoMap" type="org.linlinjava.litemall.admin.beans.vo.I18nVo">
        <id property="key" column="key" />
        <collection property="i18ns" ofType="org.linlinjava.litemall.db.domain.LitemallI18n">
            <id column="id" jdbcType="INTEGER" property="id" />
            <result column="key" jdbcType="VARCHAR" property="key" />
            <result column="type" jdbcType="VARCHAR" property="type" />
            <result column="value" jdbcType="VARCHAR" property="value" />
            <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
            <result column="deleted" jdbcType="BIT" property="deleted" />
        </collection>
    </resultMap>

    <!--resultMap的值为上面resultMap的id。 -->
    <select id="list" parameterType="map" resultMap="I18nVoMap">
        select `id`,`key`,`value`,`type`,`add_time` from litemall_i18n
        where deleted = false
        <if test="key != null">
            and `key` like concat('%',#{key},'%')
        </if>
        group by `id`,`key`,`value`,`type`,`add_time`
    </select>
</mapper>